# Credenciais
.env

# Ambiente virtual
venv/

# Logs
logs/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribuição / build
dist/
build/
*.egg-info/

# IDEs
.vscode/
.idea/
*.suo
*.user

# OS
.DS_Store
Thumbs.db
